<div class="container mt-5">
  <div class="card shadow p-3">
    <div class="row">
      <figure class="col-12 col-md-4">
        <img [src]="user?.avatar" [alt]="user?.first_name">
      </figure>
      <div class="col-12 col-md-8">
        <h2>{{user?.first_name}} {{user?.last_name}}</h2>
        <p>Email: <a class="text-danger" [href]="'mailto:'+ user?.email">{{user?.email}}</a></p>
        <button class="btn btn-danger" [routerLink]="['/agenda']">Volver a Agenda</button>
      </div>
    </div>
  </div>
</div>
