<p [ngClass]="['fondoAzul', 'textoRojo']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nihil unde adipisci vero sed dolor totam at tempore incidunt voluptatem veniam voluptate temporibus aspernatur officia et, veritatis, voluptatum saepe. Maiores.</p>

<p [class]="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iusto exercitationem nemo obcaecati quae. Cupiditate non, dolorum amet eius unde eum rerum debitis et, minima provident, consequuntur officiis itaque ut.</p>

<p [ngClass]="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iusto exercitationem nemo obcaecati quae. Cupiditate non, dolorum amet eius unde eum rerum debitis et, minima provident, consequuntur officiis itaque ut.</p>

<p [ngClass]="{'fondoRojo': activo, 'fondoAzul': !activo}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates laudantium porro consectetur veritatis id, minus repellendus labore possimus optio distinctio, eos aut accusamus voluptatibus deserunt dolores! Eius ratione labore quidem?</p>
<button (click)="cambiarActivo()">Cambiar</button>
