<section class="container card p-5 mt-3">
  <h2>{{producto.title}}</h2>
  <figure>
    <img [src]="producto.photo" [alt]="producto.title">
  </figure>
  <ul>
    <li>Precio: {{producto.price}}</li>
    <li>Stock: {{producto.stock}}</li>
  </ul>
  <button class="btn btn-success" [routerLink]="['/productos']">Volver a listado</button>
  <hr>
  <div>
    <button class="btn btn-warning me-5" [routerLink]="['/producto', producto.id, 'caracteristicas']">Caracteristicas</button><button [routerLink]="['/producto', producto.id, 'opiniones']" class="btn btn-warning">Opiniones</button>
    <hr>
    <router-outlet></router-outlet>
  </div>
</section>
