<div>

  <article class="d-flex justify-content-between my-4 p-3 urgent">
    <h3>Titulo de la tarea: <span>prioridad</span></h3>
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
  </article>

  <article class="d-flex justify-content-between my-4 p-3 daily">
    <h3>Titulo de la tarea: <span>prioridad</span></h3>
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
  </article>

  <article class="d-flex justify-content-between my-4 p-3 monthly">
    <h3>Titulo de la tarea: <span>prioridad</span></h3>
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
  </article>




</div>
