<div class="aside">
  <ul class="nav flex-column">
    <li class="nav-item" [routerLink]="['/series']">
      Series
    </li>
    <li class="nav-item" [routerLink]="['/personajes']">
      Personajes
    </li>
    <li *ngIf="activate">
      <select class="form-select" (change)="getChannel($event)">
        <option value="all">Todas las cadenas</option>
        <option *ngFor="let channel of arrChannels" [value]="channel">{{channel}}</option>
      </select>
    </li>
  </ul>
  <hr class="bg-light">
</div>
