/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
  list-style: none;
}

ul li{
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
}
