<app-calculadora></app-calculadora>
<hr>
<app-galeria></app-galeria>

<!-- <app-eventos></app-eventos> -->

<!-- <header>
  <h1>Hola Mundo</h1>
</header>
<hr> -->
<!-- vamos a cargar componentes -->

<!-- <saludo></saludo>


<hr>
<main>
  <h2>Bienvenido {{ name }} tienes {{ age }} años</h2>
  <ul>
    <li>{{nombres[0]}}</li>
    <li>{{nombres[1]}}</li>
    <li>{{nombres[2]}}</li>
  </ul>
  <div class="contador">
    <p>{{contador}}</p>
    <button (click)="onClick(2)">Contar</button>
  </div>
  <img [src]="url" [alt]="name" [title]="name">
</main> -->
