<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Resultado de busqueda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul *ngIf="arrPersonajes.length !== 0">
          <li class="mb-1" *ngFor="let personaje of arrPersonajes">
            <img [src]="personaje.image" class="imagencita">
            {{personaje.name}}
          </li>
        </ul>
        <p *ngIf="arrPersonajes.length === 0">
          {{results}}
        </p>
      </div>
    </div>
  </div>
</div>
